@* DataView Template File *@
<!-- Angular app myapp handles the rendering of employee data from controller Employee-->
<!-- Adding the main ng controller to render the employees json data on the page -->
	<div class="container-fluid" data-ng-app="myapp" data-ng-controller="EmpController" data-ng-init="limitData=10"data-ng-app="myapp" data-ng-controller="EmpController" data-ng-init="limitData=10">		
		<div class="row" style="background-color: white;">
			<!-- Handling sort on the click of table headers -->
			<table class="table table-striped">
				<tr>
					<!-- adding sort on click -->
					<th ng-click="Sort('name')">Name</th>
					<th ng-click="Sort('company')">Company</th>
					<th ng-click="Sort('email')">Email</th>
					<th ng-click="Sort('phone')">Phone</th>
					<th ng-click="Sort('date')">Date</th>
				</tr>
				<!-- Rendering Employee Records data by filtering with given fields -->
				<tr
					data-ng-repeat="x in results">
					<td>{{x.name}}</td>
					<td>{{x.company}}</td>
					<td>{{x.email}}</td>
					<td>{{x.phone}}</td>
					<td>{{x.date |date:'medium'}}</td>
				</tr>
			</table>
		</div>
	</div>